<header class="header">
    <h1>Lee Harris's Leaping Horse || WEB250</h1>
    <nav>
        <ul class="col1l">
            <li class="coll"><a href="index.html">Home</a></li>
            <li class="coll"><a href="introduction.html">Introduction</a></li>
            <li class="coll"><a href="contract.html">Contract</a></li>
            <li class="coll"><a href="php/index.php">View Dynamic Site</a></li>
            <li class="coll"><a href="joyofphp/joyphp/src/samsusedcars.html">Sams Used Cars</a></li>
        </ul>
    </nav>
</header>
